<%- include('partials/header.ejs'); %>
<body>
<%- include('partials/nav.ejs'); %>

<div class="main" style="background-image: url('/images/default.jpg')">    
    <div class="cover pink" data-color="black"></div>
    <div class="container">
        <!--  H1 can have 2 designs: "logo" and "logo cursive"           -->
        <h1 class="logo cursive">
            Mauriney
        </h1>

        <div class="content">
            <h4 class="motto">Obrigado por visitar. Aqui contém mais algumas informações sobre mim</h4>
        </div>

    </div>
 </div>
 </body>
 <%- include('partials/footer.ejs'); %>